body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
}

nav {
    background-color: maroon;
    color: wheat;
    padding: 5px;
    height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    
}

nav > h3 {
    margin: 0;
}

#blog-list {
    padding: 10px;
}

form {
    padding: 60px 10px 10px;
    display: grid;
    background-color: maroon;
    color: wheat;
}

input#post-title, textarea#post-body {
    margin-top: 2px;
    margin-bottom: 10px;
    background-color: wheat;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 20px;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    color: maroon;
    background-color: moccasin; 
    width: 200px;
    border: none; 
    border-radius: 25px;
    margin: 0 auto;
}

hr {
    border-top: .5em double maroon;
}
